// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52810_qfaa.dtsi>

/ {
	model = "smartpadlock";
	compatible = "smartpadlock";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	zephyr,user {
		io-channels = <&adc 2>;
	 };

	leds {
        compatible = "gpio-leds";
        red_led: red_led_0 {
            gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
            label = "RED LED 0";
        };
        green_led: green_led_1 {
            gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
            label = "Green LED 1";
        };
        blue_led: blue_led_2 {
            gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
            label = "Blue LED 2";
        };
        white_led: white_led_3 {
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            label = "White LED 3";
        };
        ain_gpio: ain_gpio {
            gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
            label = "AIN GPIO";
        };
        bin_gpio: bin_gpio {
            gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
            label = " BIN GPIO";
        };
    };

    buttons {
        compatible = "gpio-keys";
        enter_bt: enter_button_0 {
            label = "Enter button switch 0";
            gpios = <&gpio0 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        };
        up_bt: up_button_1 {
            label = "Up button switch 1";
            gpios = <&gpio0 25 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        };
        down_bt: down_button_2 {
            label = "Down button switch 2";
            gpios = <&gpio0 9 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        };
        right_bt: right_button_3 {
            label = "Right button switch 3";
            gpios = <&gpio0 16 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        };
        left_bt: left_button_4 {
            label = "Left button switch 4";
            gpios = <&gpio0 6 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        };
        lock_bt: lock_button_5 {
            label = "Lock button switch 5";
            gpios = <&gpio0 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
        };
        usb_bt: usb_button_6 {
            label = "USB button switch 6";
            gpios = <&gpio0 5 (GPIO_ACTIVE_HIGH)>;
        };
    };

	aliases {
		adcctrl = &adc;
	 };
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0xc000 0xa000>;
		};
		slot1_partition: partition@16000 {
			label = "image-1";
			reg = <0x16000 0xa000>;
		};
		scratch_partition: partition@20000 {
			label = "image-scratch";
			reg = <0x20000 0xa000>;
		};
		storage_partition: partition@2a000 {
			label = "storage";
			reg = <0x2a000 0x6000>;
		};
	};
};

